extends ../layout

block content
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        include push-menu
        .col-xs-9.col-sm-9.col-md-9.col-lg-9
          .row
          include ../breadcrumbs
          block push-content