extends layout

block content

  h1 Configuration de l'application
  p Paramètres actuels issus de l'environnement 
    code= global.config.util.getEnv('NODE_ENV')
  .col-md-4
    table.table.table-bordered.table-hover.table-condensed
      thead
        tr
          th Paramètre
          th Valeur
      tbody
      each val, index in global.config
        - if (typeof val === "Object" )
        tr
          td= index
          td=  JSON.stringify(val)