footer.footer
  .container
    p.text-muted PushServer v#{version} - #{global.config.util.getEnv('NODE_ENV').toUpperCase()}

script(src='//code.jquery.com/jquery.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
script(src='/javascripts/main.js')