include ./mixins.jade
doctype html
html
  head
      meta(charset="utf-8")
      meta(name="description", content="PushServer administration")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title PushServer
      link(rel="icon",href="/favicon.ico")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel="author", href="humans.txt")
      //
        link(rel="stylesheet", media="screen", href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
      //
        link(rel="stylesheet", media="screen", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
      link(href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
      //
        link(rel="stylesheet", media="screen", href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet", media="screen", href="//cdn.lukej.me/github-markdown-css/0.2.0/github-markdown.min.css")
      link(rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css")
      link(rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css")
      link(rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css")
      link(rel="stylesheet", media="screen", href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
    body
      header
        include ./navbar.jade
      .container.ps-main
        block content
      include ./footer.jade
      include ./modal.jade